body {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'PragmataPro Mono';
    src: url('../fonts/PragmataProMono.woff2') format('woff2');
}

.cmd, .cmd *, .terminal, .terminal-wrapper * {
    font-family: 'PragmataPro Mono', monospace;
}

.terminal {
    padding: 2px;
    --size: 1.3;
    --color: black;
    --background: white;
    /* --animation: terminal-bar; */
}

.cursor {
    --color: grey;
}
