body {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'PragmataPro Mono';
    src: url('../fonts/PragmataProMono.woff2') format('woff2');
}

.terminal {
    padding: 2px;
    --size: 1.15;
    --color: black;
    --background: white;
}

.cursor {
    --color: grey;
}